<!--
/**
 * Copyright © TechSpot Web Agency. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Quotation response:  %quotation_number" quotation_number=$quotationNumber}} @-->
<!--@vars {
"var quotationNumber":"Customer Name",
"var customerName":"Customer Name",
"var viewOnSiteLink":"View Quote URL",
"var items|raw":"Quotation Items",
"var message|raw":"Quotation Message"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "%customer_name, we forwarded a response to your request:" customer_name=$customerName store_name=$store.getFrontendName()}}</p>
{{depend message}}
<table class="message-info">
    <tr>
        <td>
            <h3>{{trans "Comments"}}</h3>
            {{var message|raw}}
        </td>
    </tr>
</table>
<br />
{{/depend}}

{{var items|raw}}
<br/>

<p><a href="{{var viewOnSiteLink}}">{{trans "View all Quotation items"}}</a></p>

{{template config_path="design/email/footer_template"}}
