<?xml version="1.0"?>
<!--
/**
 * Copyright © TechSpot Web Agency. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Techspot\SendQuote\Model\Sendquote">
        <arguments>
            <argument name="useCurrentWebsite" xsi:type="boolean">false</argument>
        </arguments>
    </type>
    <virtualType name="Techspot\SendQuote\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">Sendquote</argument>
        </arguments>
    </virtualType>
    <virtualType name="Techspot\SendQuote\Model\Session" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">Techspot\SendQuote\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
</config>
